<!Doctype html>
<html xmlns:th="http://thymleaf.org">
<head th:replace="layout::site-head">
    <title>Register page</title>
</head>

<h2>Please Register here:</h2>
<form method="post" th:object="${User}">
    <label for="Firstname"> Firstname </label>
    <input type="text"     id="Firstname">
    <label for="Lastname">   Lastname </label>
    <input type="text"   id="Lastname">
    <label for="password"> password</label>
    <input type="password" id="password"/>
    <input type ="submit" value="Register"/>

</form>


</html>