<!Doctype html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout::site-head">
    <title> Technical blog</title>
</head>
<header th:replace="layout::logged-in" ></header>
<body>
<h1> Welcome User,These are your posts</h1>
<main id="posts">
    <listt th:each="p:${posts}">
        <h2 th:text="${p.id}"> </h2>
        <h2 th:text="${p.title}"> </h2>
        <i>posted on:</i> <span th:text="${p.date}"> </span>
        <div>
            <p th:text="${p.body}"> </p>
        </div>
<div>
    <a th:href="@{/editpost(post=${p.id})}">edit</a>
    <form th:action="@{/deletepost(posttitle=${p.title})}" th:method="delete">
      <input type="submit" value="Delete"/>
    </form>
</div>
    </listt>
</main>
</body>
</html>